*{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color:  white !important;

    .logo{
        font-size: 1.8rem;
        font-weight: bold;
    }
    
    .navbar-nav{



        .nav-link{
            color: #00b1ff !important;
            padding-right: 30px;
            font-size: 1.2rem;
        }

        

        .ikona{
            width: 30px;
            height: 30px;
        }
    }

}

.leva-strana{

    height: 600px;
    width: 100%;
    background-color: #367AC6;
    padding: 0;
    margin: 0;
    position: relative;

    img{
        height: 600px;
        width: 100%;
        opacity: 0.27;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    h1{
        position: absolute;
        top: 30%;
        color: white;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.desna-strana{

    height: 600px;
    width: 100%;

    img{
        height: 300px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .gore{
        img{
            width: 50%;
        }
    }
}

.img{
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.futer{
    background-color: #484848;
    height: 100px;
    color: white;
    
}

.services{
    padding: 0px 50px;
    margin-top: 50px;

    img{
        height: 150px;
        width: 150px;
        padding: 20px;
        border: solid 7px #A8CDEE;
        box-shadow: -10px 23px 30px rgb(189, 175, 175);
        border-radius: 20px;
    }

    h2{
        margin-top: 25px;
        padding: 10px;
        color: #484848;
    }

}